@font-face {
    font-family: "BodoniBook";
    src: url('Bodoni\ BE\ Light\ Regular.otf');
}

.content {
    margin-left:20vw;
    margin-right:20vw;
    display: flex;
    flex-wrap: nowrap;
}

.picture{
    width: 300px;
    display: inline-block;
}

.text {
    width: 100%;
    font-family: "BodoniBook";
    color: white;
    font-size: 1em;
    display: inline;
    min-width: 200px;
}

.paddingv{
    width: 10vw;
}

.paddingh {
    height: 20vw;
}

#teaserpicture {
    text-align: center;
}

.heading {
    font-family: "BodoniBook";
    font-size: 2em;
}

#hero {
    color: #999999;
    font-family: "BodoniBook";
    text-align: center;
    font-size: 3em;
    margin-left:20vw;
    margin-right:20vw;
    hyphens: auto;
}

#subhero {
    color: white;
    font-family: "BodoniBook";
    text-align: center;
    font-size: 2em;
    padding-left:20vw;
    padding-right:20vw;
    hyphens: auto;
}

#container {
    background-color: black;
    box-sizing: border-box;
}

.button, button:not(:hover), button:not(:active) {
    text-align: center;
    font-size: 1.5em;
    font-family: "BodoniBook";
    border: none;
    padding: 0.5rem;
}

.button:hover {
    background: #BCA569;
    outline: none;
}

.button:active{
    background: #968454;
}

#buttondiv {
    text-align: center;
    padding-bottom: 2.5vh;
}

hr {
    margin-left: 20vw;
    margin-right: 20vw;
    height: 1px;
    background-color: white;
    border: none;
}

.appStoreButton {
    height: 60px;
}

a {
    color: white;
    text-decoration: none;
    }