@font-face {
    font-family: "BodoniBook";
    src: url('Bodoni\ BE\ Light\ Regular.otf');
}

.content {
    padding-left:25%;
    padding-right:25%;
    display: flex;
}

.picture{
    width: 50%;
}

.text {
    width: 50%;
    font-family: "BodoniBook";
    color: white;
    font-size: 1.25vw;
}

.paddingv{
    width: 2vw;
}

.paddingh {
    height: 2vh;
}

#teaserpicture {
    text-align: center;
    padding-left:25%;
    padding-right:25%;
}

.heading {
    font-family: "BodoniBook";
    font-size: 2.5vw;
}

#hero {
    color: #BCA569;
    font-family: "BodoniBook";
    text-align: center;
    font-size: 5vw;
    padding-left:25%;
    padding-right:25%;
    padding-bottom: 80px;
    hyphens: auto;
}

#subhero {
    color: white;
    font-family: "BodoniBook";
    text-align: center;
    font-size: 2.5vw;
    padding-left:25%;
    padding-right:25%;
    hyphens: auto;
}

#container {
    background-color: #234744;
}

.button, button:not(:hover), button:not(:active) {
    text-align: center;
    font-size: 1.5vw;
    font-family: "BodoniBook";
    padding: 1rem;
    border: 1px solid;
    border-color: white;
    border-radius: 8px;
    color: white;
    background-color: #234744;
}

.button:hover {
    border-color: #BCA569;
    background: #BCA569;
    outline: none;
}

.button:active{
    background: #968454;
}

#buttondiv {
    text-align: center;
    padding-bottom: 8vh;
}

hr {
    margin-left: 25%;
    margin-right: 25%;
    height: 1px;
    background-color: white;
    border: none;
}

.appStoreButton {
    width: 50%;
}

a {
    color: white;
    text-decoration: none;
}

.card {
    height: auto;
    position: relative;
    display: inline-block;
}
.screenshot {
    width: 100%;
}
.card .screenshot-light {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .screenshot-light {
    display: inline;
}
